* {
  font-family: 'Kumbh Sans', sans-serif;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1994a4 !important;
  background-image: url(./profile-card-component-main/images/bg-pattern-top.svg), url(./profile-card-component-main/images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 50vw bottom 40vh, left 50vw top 45vh;
}



main {
  width: 350px;
  height: 375px;
  background-color: white;
  border-radius: .8rem;
  position: relative;
  z-index: 1;
  box-shadow: -1px 3px 73px -16px rgba(89,85,85,0.75);
  -webkit-box-shadow: -1px 3px 73px -16px rgba(89,85,85,0.75);
  -moz-box-shadow: -1px 3px 73px -16px rgba(89,85,85,0.75);
  padding:1px;
}
main::before{
  content: "";
  width: 100%;
  height: 140px;
  position: absolute;
  top: 0;
  left: 0;
    background: url("./profile-card-component-main/images/bg-pattern-card.svg");
    z-index: -1;
    border-radius: .8rem .8rem 0rem 0rem;
}



.image-container {
  display: flex;
  justify-content: center;
  margin-top: 87px;

}

.personal-info img {
  border-radius: 50%;
  border: 5px solid white;
}
.personal-info h1{
  font-size: 18px;
  word-break: break-all;
  font-weight: 700;
  text-align: center;
  color: #303145;
  margin-top: 19px;
  letter-spacing: .1px;
}
.personal-info h1 span{
  font-size: 18px;
  word-break: break-all;
  font-weight: 100;
  text-align: center;
  color: #898a8e;
}

.personal-info p{
  font-size: 14px;
}
.personal-info p,hr {
  text-align: center;
  color: #6d6d6f;
}

.statics{
  display: flex;
  width: 235px;
  margin: auto;
  justify-content: space-between;
  font-size: 15px;
  margin-top: 28px;
}

p.head {
  color: #2a2939;
  font-weight: bold;
  margin: 0;
  font-size: 18px;
}

p.body {
  color: #6d6d6f;

}