body {
  background: #0a0c1b !important;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  width: 1111px;
}

.container{
  background-color: #1c1938;
  border-radius: .5rem;


}
img {

  position: relative;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;

}

.image-container {
  position: relative;
}

img {
 width: 100%;
  left: 11px;
  height: 100%;
}

.image-container::before {
  content: "";
  position: absolute;
  width: 96%;
  height: 100%;
  background-color: hsl(277deg 99.17% 37.71%);
  top: 0;
  left: 22px;
  z-index: 1;
  opacity: .4;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.info-container {
  margin-left: 60px;
  width: 378px;

}

.info-container h1 {
  color: white;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  margin-top: 74px;
}

h1 span.lighted {
  color: #b35cde;
}

.info-container p.main-p {
  color: white;
  font-size: 15px;
  color: #bfbcd7;
  margin-top: 28px;
  line-height: 26px;
  font-family: 'Lexend Deca', sans-serif;
}

.statics-container {
  display: flex;
  justify-content: space-between;
  width: 349px;
  font-weight: bold;
  color: white;
  margin-top: 60px;
}

.statics-container p:nth-of-type(1) {
  text-transform: uppercase;
  font-size: 26px;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.statics-container p:nth-of-type(2) {
  text-transform: uppercase;
  color: #9d9ab1;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  margin-top: 6px;
}

@media only screen and (max-width: 1111px) and (min-width:769px) {
  .info-container {
    margin-left: 0px;
    width: 364px;
  }
}


@media only screen and (max-width: 768px) {

  .row {
    flex-direction: column-reverse !important;
  }

  main {
    max-width: 330px;
  }
  img {
    width: 330px;
    left: -11px;
    height: 100%;
    border-radius: .5rem .5rem 0px 0px;
    
}
.image-container::before {
  content: "";
  position: absolute;
  width: 100.4%;
   height: 100%;
  background-color: hsl(277deg 99.17% 37.71%);
  top: 0;
  left: 0;
  z-index: 1;
  opacity: .4;
  border-radius: .5rem .5rem 0px 0px;

}
.info-container {
  margin-left: 0px;
  width: 300px;
}
.statics-container {
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 300px;
}
}
span{
  display: inline-block;
}